{{#*inline "content" }}
    <h2>{{lessonName}}</h2>
    {{> (lookup lessonName) }}
    <p><button class="mdl-button mdl-js-button mdl-button--raised" onclick="window.location='{{runPath}}';">Run</button></p>
    {{#if runResult}}
        {{> org/http4k/koans/lesson/RunResult runResult}}
    {{/if}}
{{/inline}}
{{> org/http4k/koans/Layout }}