<h5>Request sent</h5>
<pre id="request-sent" style="background-color: #EFEFEF; padding: 5px">{{request}}</pre>
{{#if response}}
<h5>Response received</h5>
<pre id="response-received" style="background-color: #EFEFEF; padding: 5px">{{response}}</pre>
{{/if}}