{{# if success}}
    <div class="result" style="color:green"><i class="material-icons">done</i>Success!</div>
{{else}}
    <div class="result" style="color:red"><i class="material-icons">error</i>Failed:
    <pre>{{ explanation }}</pre></div>
{{/if}}